.sidebar{
    position: fixed;
    left: 0;
    /*top:0;*/
    width: 20%;
    height: 80vh;
    overflow-y: scroll;
    padding: 10px;
}

.sidebar label{
    color: #484848;
}

.main{
    padding: 0 10px;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #d0d0d0;
    border-radius: 10px;
}