.profile{
    display: flex;
    padding: 30px;
    gap: 30px;
}

.profile section{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    min-height: 90vh;
    width: 100%;
    border-radius: 10px;
}

.profile section:first-child{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    gap: 50px;
}

.profile section:last-child{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.profile-img{
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
}

.profile-img span{
    position: absolute;
    right: 15px;
    bottom: 0;
    padding: 10px;
    background-color: #0d89ec;
    color: #fff;
    border-radius: 50%;
}

.label::before{
    content: "+";
    color: #fff;
    visibility: hidden;
    font-size: 25px;
}

.label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
    font-family: sans-serif;
    border-radius: inherit;
    cursor: pointer;
    position: absolute;
    width: inherit;
    height: inherit;
}

.label:hover{
    background-color: rgba(0,0,0,0.3);
}

.label:hover::before{
    visibility: visible;
}