.car {
    cursor: pointer;
    flex: 0 1 calc(33% - 10px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em;
    border-radius: 1em;
}

.edit {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 99;
    padding: 5px 10px;
    border-radius: 5px;
}

.edit button:hover {
    background-color: #535353;
    color: white;
    transition: all .5s ease;
}

.carImage {
    background-color: rgba(179, 179, 179, 0.35);
    border-radius: 1em;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
}

.year {
    position: absolute;
    background-color: #535353;
    color: #fff;
    left: 5px;
    top: 5px;
    padding: 0 .5em;
    border-radius: 1em;
}


.model {
    font-size: 17px;
    color: #717171;
}

.car img {
    max-width: 100%;
}

.info {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.info button {
    background-color: rgba(179, 179, 179, 0.35);
    padding: 1px 10px;
    border-radius: 1em;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.info button span:first-child {
    font-size: 14px;
}