.header{
    display: flex;
    align-items: center;
    justify-content: end;
    height:50px;
    border-bottom: 1px solid #dfdfdf;
}


.navigation ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.avatar{
    cursor: pointer;
}

/*.account{*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    border: 1px solid #a7a7a7;*/
/*    border-radius: 30px;*/
/*    color: #a7a7a7;*/
/*    cursor: pointer;*/
/*}*/
/*.account span{*/
/*    font-size: 16px;*/
/*}*/
