.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
       color: white;
}

.book-button {
  background: white;
  color: black;
  font-size: 18px;
  width: 150px;
}
.explore-button {
  border: 1px solid white;
  background: black;
  color: white;
  font-size: 18px;
  width: 150px;
}
