
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url("https://mobiag.com/wp-content/uploads/2019/06/car-rental-fleet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-wrapper{
    height: 50%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid #878787;
    border-radius: 10px;
}

.form-wrapper form{
    padding: 2em;
    height: 100%;
    width: 100%;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}

.form-wrapper form input{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    width: 100%;
    color: #dfdfdf;
    border: 1px solid rgba(0,0,0,0.2);
}

.form-wrapper form label{
    color: #dfdfdf;
}

.form-wrapper form > span{
    color: #dfdfdf;
}
.form-wrapper form > span a{
    font-weight: bold;
    text-decoration: underline;
}


.password-reset{
    color: #dfdfdf;
    font-size: 14px;
}

.password-reset:hover{
    text-decoration: underline;
}