.header {
    padding: 1em;
    border-bottom: 1px solid #b0b0b0;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.nav > div {
    width: 50%;
}

.nav p {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.nav img {
    width: 80px;
    border: none;
    margin: 0;
}

.nav a {
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
