.main{
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
.content{
    width: 100%;
}

.outlet{
    overflow-y: auto;
    height: 100vh;
    padding: 2em 2em 5em 2em ;
}