.side-panel.active{
    width: 20em;
}

.side-panel{
    width: 5em;
    border-right: 1px solid gray;
    height: 100vh;
    background: #2b2c40;
    color: #fff;
    transition: width .5s ease;
}

.side-panel nav{
    padding: 1em;
}

.side-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 93%;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    display: flex;
    padding: .5em 1em;
    border-radius: 10px;
    align-items: center;
}

.navigation a:hover {
    background: #1f2133;
}

.navigation a.active-link {
    background: #1f2133;
}

.side-panel nav span{
    font-size: 19px;
    margin: 0 15px 0 0 ;
}

.hidden{
    visibility: hidden;
    transition: visibility 5ms ease;
}

.logo{
    background-color: #1f2133;
    padding: 15px 10px;
    height: 8%;
    text-align: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo span{
    cursor: pointer;
}

.logout{
    padding: 1em;
}

.logout button{
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    display: flex;
    font-size: 19px;
    gap: 10px;
    padding: .5em 1em;
    align-items: center;
}

.logout button:hover{
    background: #1f2133;
    border-radius: 10px;
}