.main{
    cursor: pointer;
    flex: 0 1 calc(25% - 10px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}