.vehicles{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
}

.vehicles .header{
    background-color: #dedede;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}