.dashboard{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.bookings{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(148 163 184);
}