/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

@font-face {
    font-family: "SF-Pro";   /*Can be any text*/
    src: local("SF-Pro-Text-Regular"),
    url("./assets/fonts/SF-Pro-Text-Regular.otf") format("truetype");
}

@font-face {
    font-family: "SF-Pro-Display";   /*Can be any text*/
    src: local("SF-Pro-Dispay-Regular"),
    url("./assets/fonts/SF-Pro-Display-Regular.otf") format("truetype");
}


@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}


body {
    margin: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, 'SF-Pro', 'Segoe UI', 'Roboto', 'Oxygen',*/
    /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
    /*  sans-serif;*/
    font-family: "SF-Pro";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    width: 100%;
    padding: 0 2em;
}

.p-tieredmenu {
    z-index: 99999 !important;
}