.imageUrl{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
}

.label::before{
    content: "+";
    color: #fff;
    visibility: hidden;
    font-size: 25px;
}

.label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7px;
    font-family: sans-serif;
    border-radius: inherit;
    cursor: pointer;
    position: absolute;
    width: inherit;
    height: inherit;
}

.label:hover{
    background-color: rgba(0,0,0,0.3);
}

.label:hover::before{
    visibility: visible;
}